<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ui.SiaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:enableOnBackInvokedCallback="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Siase"
        tools:targetApi="tiramisu">
        <receiver
            android:name=".data.services.NotificationReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".data.services.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".data.services.ListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPrefix="/message_path"
                    android:scheme="wear" />

            </intent-filter>
        </service>

        <activity
            android:name=".ui.screens.kardexDetail.KardexDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.screens.scheduleDetail.ScheduleDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.screens.mainScheduleSelection.MainScheduleSelection"
            android:exported="true" />
        <activity
            android:name=".ui.screens.mainCareerSelection.MainCareerSelection"
            android:exported="true" />
        <activity
            android:name=".ui.screens.careerDetail.CareerDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.screens.home.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.screens.auth.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>